<div class="page">
  <div class="header">
    <h2>Prescriptions</h2>
    <a *ngIf="isDoctor && selectedPatientId" [routerLink]="['new']" [queryParams]="{ patientId: selectedPatientId }" class="btn-primary">+ New Prescription</a>
  </div>

  <div class="field" *ngIf="!hasPatientContext">
    <label>Select Patient</label>
    <select (change)="onPatientChange($any($event.target).value)" [value]="selectedPatientId">
      <option value="">-- Select a patient --</option>
      <option *ngFor="let p of patients$ | async" [value]="p.id">{{ p.lastName }}, {{ p.firstName }}</option>
    </select>
  </div>

  <table *ngIf="prescriptions$ | async as prescriptions">
    <thead>
      <tr>
        <th>Drug Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Created</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rx of prescriptions">
        <td>{{ rx.drugName }}</td>
        <td>{{ rx.startDate }}</td>
        <td>{{ rx.endDate }}</td>
        <td>{{ rx.createdAt?.toDate() | date:'mediumDate' }}</td>
      </tr>
      <tr *ngIf="prescriptions.length === 0">
        <td colspan="4" class="empty">No prescriptions found.</td>
      </tr>
    </tbody>
  </table>
</div>
